body {
    background-color: #031D31;
    color: white;
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: auto;
    min-height: 100vh;
    overflow-y: auto;
    margin: 0;
    padding: 0;
    font-size: 1.2rem;
}
.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px 0;
    margin: 0;
}
.logocenter {
    display: flex;
    justify-content: center;
    margin-bottom: 20px; /* Ajustar el margen inferior según sea necesario */
}
.login-box {
    background-color: #0B4069;
    padding: 50px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    display: flex;
    flex-direction: column;
    align-items: center;
}
.login-box h2 {
    margin-bottom: 20px;
    font-size: 1.8rem;
}
.login-box label {
    display: block;
    margin-bottom: 5px;
    text-align: left; /* Alinear las etiquetas a la izquierda */
    width: 100%; /* Asegurar que las etiquetas ocupen todo el ancho */
    font-size: 1.4rem;
}
.login-box input {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: none;
    border-radius: 5px;
    font-size: 1.2rem;
}
.btn {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s; /* Añadir transición para el efecto de hover */
    font-size: 1.2rem;
}
.btn.orange {
    background-color: #FF6709;
    color: white;
}
.btn.orange:hover {
    background-color: #CC5507; /* Color más oscuro al pasar el cursor */
}
.btn.google, .btn.facebook {
    display: flex;
    align-items: center;
    justify-content: center;
}
.btn.google img, .btn.facebook img {
    margin-right: 10px;
    width: 40px;
    height: auto;
}
.btn.google:hover {
    background-color: #da1a1a; /* Color más oscuro al pasar el cursor */
}
.btn.facebook:hover {
    background-color: #3B5998; /* Color más oscuro al pasar el cursor */
}
.btn.register {
    background-color: #555;
    color: white;
}
.btn.register:hover {
    background-color: #333; /* Color más oscuro al pasar el cursor */
}
.logo img {
    width: 250px; /* Ajusta el ancho según sea necesario */
    height: auto; /* El alto se ajustará automáticamente */
}
.logo-button {
    background: none;
    border: none;
    cursor: pointer;
    width: 300px; /* Ajustar el tamaño del logo */
    height: auto;
    margin-bottom: 20px; /* Espacio debajo del logo */
}